*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;       
}

body{
    font-family: 'Arial'; 
    line-height: 1.6;
    background-color: #f4f4f4;
}

header{
    background: #35424a;
    color: #ffffff;
    padding: 10px 0; 
    text-align: center;
}

/*10 top e bottom  --- 0 left e right */ 
header h1{
    margin: 10px 0; 
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 15px;
}

nav a{
    color: #ffffff;
    text-decoration:none;
}
main{
    padding: 20px;
}

section{
    margin: 20px 0;
    padding: 15px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

footer{
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
}
/* celulares*/
@media screen and (max-width: 480px){
    header h1{
        font-size: 24px;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
    }
    section{
        padding: 10px;
    }
}
/*tablets*/
@media screen and (min-with: 481px) and (max-width: 768px){
    header h1{
        font-size: 28px;
    }
    nav ul li{
        margin: 0 10px;
    }
    section{
        padding: 15px;
    }
}
/*desktop*/
@media screen and (min-width: 769px){
    header h1{
        font-size: 36;
    }
    nav ul li {
        margin: 0 20px;
    }
    section{
        padding: 20px;
    }
}




