/* Estilizando a página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

picture {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

picture img {
    margin-top: 20px;
}
